crash.log
.ini
*.ini
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.retry
*.log
*.cache
ansible/.vault_pass.txt
**/db_data/
**/gpg_volume/
**/jwt_volume/
docker-compose.override.yml
*.pem
*.key
*.crt
*.env
.env.*
secrets/
keys/
